*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}

header{
    width: 95vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin: auto;
    background-color: red;
}

header > h1{
    color: whitesmoke;
}

ul{
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    font-size: 1.2rem;
}

a{
    text-decoration: none;
    /* color: skyblue; */
    color: whitesmoke;
    font-size: 1.3rem;
}

li a:hover{
    text-shadow: 1px 1px 3px white;
    text-decoration: underline;
}
